body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-image: url(/Resources/rakelstake.jpg);
    background-attachment: fixed;
    background-size: 100%;
}
img {
    width: 122.72px;
    height: 54px;
    padding: 40px 0 0 40px;
    position: fixed;
}

.server-options {
    color: wheat;
    position: fixed;
    left: 59em;
    top: 3.5em;
}


h1, .descripcion, .descripcion2{
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 5.5em;
    color: white;
    padding-top: 138px;
}

.descripcion {
    font-size: 1.3em;
    color: rgb(218, 169, 46);
    font-family:'Times New Roman', Times, serif;
    padding: 8px 0 130px 0;
}

.descripcion2{
    font-size: 1.3em;
    color: rgb(218, 169, 46);
    font-family:'Times New Roman', Times, serif;
    padding: 8px 0 50px 0;
}

.correo {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgb(218, 169, 46);
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    font-size: 2em;
    width: 458px;
    height: 41px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.prim-cont{
    background-color: black;
    border-color: wheat;
    margin: 3em auto;
    display: block;
    height: 64px;
    width: 240px;
}

.seg-cont{
    background-color: black;
    border-color: wheat;
    margin: 11em auto 0;
    display: block;
    height: 64px;
    width: 240px;
}

a:hover{
    color: rgb(233, 206, 153);
}

a{
    text-decoration: none;
    color: rgb(134, 104, 46);
}

.info {
    position: fixed;
   top: 40.5em;
   right: 3.5em;
   bottom: 6em;
   left: 80em;
   background-color: black;
   color: rgb(134, 104, 46);
   border-color: rgb(134, 104, 46);
   text-align: center;   
   font-family: 'Times New Roman', Times, serif;
}

h2{
    text-align: center;
    color: white;
    font-size: 4em;
    padding-top: 216px;
}

.number1{
    margin-top: 3em;
    margin-left: 38%;
    margin: bottom  6em;
    width: 78px;
}

.number2{
    width: 131px;
    margin-left:0.5em;
    background-color: black;
    color: rgb(134, 104, 46);
    border-color: rgb(218, 169, 46);
    height: 40px;
    text-align: center;
}

.number3{
    width: 84px;
    margin-left:0.5em;
}

input[type="number"]{
    background-color: black;
    color: rgb(134, 104, 46);
    border-color: rgb(218, 169, 46);
    height: 40px;
    text-align: center;
}

h3{
    text-align: center;
    color: white;
    font-size: 3.5em;
}

.text-name{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgb(218, 169, 46);
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    font-size: 1em;
    width: 458px;
    height: 41px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.checkbox{
    color: rgb(218, 169, 46);
    display: block;
    margin: 2em auto;
    text-align: left;
    width: 550px;
}